*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
   font-family: gilroy;
}
html,body{
    height: 140%;
    width: 100%;
    display: flex;
}
#main{
    height: 110%;
    width: 100%;
    background-color: #F1E5D1;
    position: relative;
}
#nav{
    height: 110px;
    padding: 0 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav img{
    height: 100px;
    margin-right: 10px;
}
#nav-prt1{
    display: flex;
    align-items: center;
    justify-content:center;
}
#nav-prt1 h4{
    margin-right: 60px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
}
#nav-prt2 i{
    margin-right: 50px;
    font-size: 25px;
    font-weight: 500;
}
#content{
    width: 100%;
    height: calc(100% - 0);
    position: relative;
    display: flex;
}
#left{
    width: 60%;
    height: 50%;
    padding: 120px 100px;
}
#left h5{
    font-size: 20px;
    margin-bottom: 25px;
    color: black ;
}
#left h1{
    font-size: 45px;
    margin-bottom: 30px;
    line-height: 50px;
}
#left p{
    font-size: 18px;
    width: 80%;
    margin-bottom: 10%;
    font-style: italic;
}
#left button{
    background-color: #000;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    padding: 15px 45px;
    border-radius: 50px;
    border-top-left-radius: 0px;
    text-transform: uppercase;
}
.pose video{
    height: 800px;
    width: px;
   padding-top: 35px;
   padding-left: 80px;
   padding-right: 0px;
}
.centered{
    position: absolute;
    top: 70%;
    left: 50%;
    opacity: 0.5;
    font-size: 115px;
    transform: translate(-50%, -50%);
    color: #fff;
}
#right::-webkit-scrollbar{
    display:none;
}
#right{
    height: 45%;
    width: 100%;
    /*background-color: red;*/
    position: relative;
    padding: 90px 60px;
    white-space: nowrap;
    overflow-x: auto;
}
.elem{
    height: 450px;
    width: 320px;
   background-color: #F1E5D1;
   position: relative;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
   border-radius: 10px;
   margin-right: 18px;
   display: inline-block;
}
.elem img{
    height: 100%;
    width: 100%;
    top: 0;
    object-fit: cover;
    position: absolute;
}
.elem h4{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #6B8A7A;
    padding: 10px 30px;
    border-radius: 7px;
}
.elem h5{
    position: absolute;
    bottom: 7%;
    right: 0;
    background-color: #9e9d95;
    color: #000;
    font-weight: 600;
    padding: 10px 29px;
    font-size: 15px;
    border-radius: 10px;
}
#new{
    height: 60px;
    width: 50px;
}
